body {
  background-color: #f3f2ef !important;
}

.App {
  text-align: center;
}
.dropdown-menu {
  width: 270px;
}
.dropdown-item-text > a {
  color: gray !important;
  text-decoration: none;
  font-size: 0.9em;
}
.dropdown-item-text > a:hover {
  color: rgb(74, 74, 74) !important;
  text-decoration: underline;
}
.toProfile {
  border-radius: 10cm !important;
  width: 230px !important;
}
.toProfile:hover {
  text-decoration: none !important;
}
.notfound {
  height: 65vh;
}
.navbar-navigation {
  padding: 0 7rem;
  background-color: white;
  color: gray;
  border-bottom: 1px solid lightgray;
  text-align: center !important;
  margin-left: 1px;
  position: sticky !important;
  z-index: 9;
  top: 0 !important;
}

.link-nav {
  text-decoration: none !important;
}

.nav-col {
  display: flex;

  padding: 10px 0 0;
}

.text-secondary-special {
  color: gray !important;
}

.nav-col .form {
  position: relative;
  margin-left: 10px;
  width: 20rem;
  height: 45px;
}

.linkedin-logo {
  font-size: 55px;
  color: rgb(10, 102, 194);
}

.input-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-ricerca {
  background-color: #eef3f8;
  padding-left: 45px;
}

.ul-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.ul-ul {
  border-left: 1px solid lightgray;
}

.ul-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8em;
}

.ul-nav li span {
  display: flex;
  align-items: center;
}

.ul-nav li a {
  color: #808080;
  text-decoration: none;
}
.ul-nav li a:hover {
  text-decoration: underline;
}

.freccia-dropdown {
  font-size: 22px;
}

.i-nav {
  font-size: 25px;
}

/* MEDIA QUERY PER NAVBAR MOBILE */

@media only screen and (max-width: 600px) {
  .i-nav,
  .premium,
  .linkedin-logo {
    display: none !important;
  }

  .home {
    display: block !important;
    margin-left: 40px !important;
  }

  .tu {
    display: block !important;
  }

  .navbar-navigation {
    display: flex;
    justify-content: space-between !important;
    padding: 0 !important;
  }

  .nav-col {
    padding: 0 !important;
    height: 100 px !important;
    margin-left: 30px !important;
  }

  .ul-nav {
    text-align: center !important;
  }
}

@media only screen and (min-width: 857px) {
  .background {
    width: 92% !important;
    background-size: cover !important;
    height: 180px !important;
    position: absolute !important;
  }
}

/* footer */

.footer {
  background-color: white;
  color: gray;
  padding-left: 12em;
  padding-right: 5em;
}

.freccia-dropdown {
  font-size: 22px;
}

.footer {
  background-color: #f3f2ee;
}

.footer-col,
.footerCopiright {
  padding: 0;
}

.footerCopiright {
  font-size: 0.8em;
}

.footer-col ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-col ul li {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.col-2 {
  padding-right: 0;
  width: auto;
}
.fourcol {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}
.i-footer {
  font-size: 20px;
  padding: 0px;
}

.footer select {
  width: 85%;
}

/* BTN HERO */
#btn-hero Button {
  font-weight: bold;
  margin: 5px;
  width: 150px;
  height: 40px;
}

#btn-hero Button:nth-child(2) {
  border: 1px solid rgba(0, 68, 255, 0.434) !important;
  width: 250px;
}

#btn-hero Button:nth-child(3) {
  width: 90px;
  border: 1px solid gray !important;
}

/* aNCOR TAG */

.ancorHero a:hover {
  text-decoration: underline !important;
}

h4 {
  font-weight: bold !important;
}

/* BTN QUIZ */
.btnQuiz:hover {
  background-color: #077dc734;
}

/* BANNER FOTO PROFILO E COPERTINA */

.profileCover {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.profilePicWrap {
  position: relative;
  top: -100px;
  left: 20px;
  width: 180px;
  height: 180px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profilePic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  colonna destra */
.sidebar {
  position: absolute;
  right: 1;
  width: 300px;
  height: 100vh;
  margin-top: 0.5em;
}

.attivitaAmiciNome {
  font-weight: bold;
  font-size: 13px;
}

.attivitaAmici {
  font-size: 11px;
}

.attivitaAmiciOre {
  font-size: 10px;
}

/* AGGIUNG E MODIFICA */

.btnChange a {
  color: black !important;
}
