body {
  background-color: #f3f2ef !important;
}

.App {
  text-align: center;
}
.dropdown-menu {
  width: 270px;
}
.dropdown-item-text > a {
  color: gray !important;
  text-decoration: none;
  font-size: 0.9em;
}
.dropdown-item-text > a:hover {
  color: rgb(74, 74, 74) !important;
  text-decoration: underline;
}
.toProfile {
  border-radius: 10cm !important;
  width: 230px !important;
}
.toProfile:hover {
  text-decoration: none !important;
}
.notfound {
  height: 65vh;
}
.dropdown-menu {
  width: 270px;
}
.dropdown-item-text > a {
  color: gray !important;
  text-decoration: none;
  font-size: 0.9em;
}
.dropdown-item-text > a:hover {
  color: rgb(74, 74, 74) !important;
  text-decoration: underline;
}
.toProfile {
  border-radius: 10cm !important;
  width: 230px !important;
}
.toProfile:hover {
  text-decoration: none !important;
}
.notfound {
  height: 65vh;
}
.dropdown-menu {
  width: 270px;
}
.dropdown-item-text > a {
  color: gray !important;
  text-decoration: none;
  font-size: 0.9em;
}
.dropdown-item-text > a:hover {
  color: rgb(74, 74, 74) !important;
  text-decoration: underline;
}
.toProfile {
  border-radius: 10cm !important;
  width: 230px !important;
}
.toProfile:hover {
  text-decoration: none !important;
}
.notfound {
  height: 65vh;
}
.navbar-navigation {
  padding: 0 7rem;
  background-color: white;
  color: gray;
  border-bottom: 1px solid lightgray;
  text-align: center !important;
  margin-left: 1px;
  position: sticky !important;
  z-index: 9;
  top: 0 !important;
}

.link-nav {
  text-decoration: none !important;
}

.nav-col {
  display: flex;

  padding: 10px 0 0;
}

.text-secondary-special {
  color: gray !important;
}

.nav-col .form {
  position: relative;
  margin-left: 10px;
  width: 20rem;
  height: 45px;
}
.linkedin-logo {
  font-size: 50px;
  color: rgb(10, 102, 194);
  margin-left: 4rem;
}
.input-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
}

.form-ricerca {
  background-color: #eef3f8;
  padding-left: 45px;
}

.ul-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.ul-ul {
  border-left: 1px solid lightgray;
}

.ul-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8em;
}

.ul-nav li span {
  display: flex;
  align-items: center;
}

.ul-nav li a {
  color: #808080;
  text-decoration: none;
}
.ul-nav li a:hover {
  text-decoration: underline;
  color: #808080;
  text-decoration: none;
}
.ul-nav li a:hover {
  text-decoration: underline;
}

.freccia-dropdown {
  font-size: 22px;
}

.i-nav {
  font-size: 25px;
}

/* MEDIA QUERY PER NAVBAR MOBILE */

@media only screen and (max-width: 576px) {
  .i-nav,
  .premium {
    display: none !important;
  }

  .home {
    display: block !important;
  }
  .linkedin-logo {
    display: block !important;
  }
  .tu {
    display: block !important;
  }

  .navbar-navigation {
    display: flex;
    justify-content: space-between !important;
    padding: 0 !important;
  }

  .nav-col {
    padding: 0 !important;
    height: 100 px !important;
    margin-left: 30px !important;
  }

  .ul-nav {
    text-align: center !important;
  }
}

@media only screen and (min-width: 857px) {
  .background {
    width: 92% !important;
    background-size: cover !important;
    height: 180px !important;
    position: absolute !important;
  }
}
*/

/* footer */

.footer {
  background-color: white;
  color: gray;
  padding-left: 12em;
  padding-right: 5em;
}

.freccia-dropdown {
  font-size: 22px;
}

.footer {
  background-color: #f3f2ee;
  padding-left: 6.3em;
  padding-top: 2em;
}

.footer-col,
.footerCopiright {
  padding: 0;
}

.footerCopiright {
  font-size: 0.8em;
}

.footer-col ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-col ul li {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.col-2 {
  padding-right: 0;
  width: auto;
}
.fourcol {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}
.i-footer {
  font-size: 20px;
  padding: 0px;
  color: rgb(65, 61, 61);
}

.footer select {
  width: 85%;
}

/* BTN HERO */
.btn-hero a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none !important;
  font-weight: bold !important;
  margin: 5px !important;
  width: 150px !important;
  height: 40px !important;
}

.btn-hero a:nth-child(2) {
  border: 1px solid rgba(0, 68, 255, 0.434) !important;
  width: 250px !important;
}

.btn-hero a:nth-child(3) {
  width: 90px !important;
  border: 1px solid gray !important;
}

/* aNCOR TAG */

.ancorHero a:hover {
  text-decoration: underline !important;
}

h4 {
  font-weight: bold !important;
}

/* BTN QUIZ */
.btnQuiz:hover {
  background-color: #077dc734;
}

/* BANNER FOTO PROFILO E COPERTINA */

.profileCover {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  height: 300px;
  width: 100%;
  background-image: url("https://media.licdn.com/dms/image/D4D16AQH_FZDkDj5sow/profile-displaybackgroundimage-shrink_350_1400/0/1670341689480?e=1687392000&v=beta&t=5LSh9omqYGwXGvEo95GlfiwsH12FtnpriAW5rtpPwWM");
  background-size: cover;
  background-position: center;
}

.profilePicWrap {
  position: relative;
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  overflow: hidden;
}

.profilePic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkprofilePicWrap {
  position: relative;
  top: -100px;
  left: 20px;
  width: 180px;
  height: 180px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.linkprofilePic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dataPost {
  font-size: smaller;
}

/*  colonna destra */
.sidebar {
  position: absolute;
  right: 1;
  width: 300px;
  height: 100vh;
  margin-top: 0.5em;
}
.linkAside {
  display: flex;
  flex-direction: row;
}
.Questionicon {
  color: gray;
  font-size: 1.2em;
}

.otherProfile {
  font-weight: 600;
  font-size: 1.15em;
  font-size: 1.15em;
}
.attivitaAmiciNome {
  font-weight: 600;
  font-size: 17px;
  color: black;
}
.gradueSide {
  font-weight: 100;
}
.attivitaAmici {
  font-size: 15px;
  padding-bottom: 1em;
  font-weight: 400;
}

.attivitaAmiciOre {
  font-size: 10px;
}

.secondary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(60, 60, 60);
  border-radius: 50px;
  padding: 3px 13px;
  background-color: #ffffff;
  color: grey;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.secondary-button:hover {
  background-color: #d4d4d4;
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.Altro {
  font-size: 16px;
}

/* AGGIUNG E MODIFICA */

.btnChange a {
  color: black !important;
}

.btnChange:hover {
  cursor: pointer;
  background-color: lightgray !important;
  border-radius: 20px !important;
}

/* BACHECA ICONA PROFILO */
.profileIcon {
  width: 85px !important;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* BTN AVVIA POST */

.btnStartPost {
  display: flex !important;
  align-items: center;
  margin-left: 10px !important;
  background-color: white !important;
  color: gray !important;
  font-weight: bold !important;
  border: 1px solid lightgray !important;
  border-radius: 50px !important;
  width: 100%;
  height: 40px;
  text-align: start !important;
}

.btnStartPost:hover {
  background-color: rgba(211, 211, 211, 0.76) !important;
}

.btnPubblish {
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 100px;
  background-color: rgb(231, 229, 229) !important;
  color: gray !important;
  border: none !important;
}

/* ICON UNDER AVVIA POST */

.PostIcon {
  display: flex;
  justify-content: center;
}

#postIcon {
  display: flex !important;
  font-size: 22px;
}

#postIcon p {
  font-size: 14px !important;
  color: gray;
  font-weight: bold;
  margin-left: 15px;
}

/* ICONA PROFILO DURANTE AVVIA NUOVO POST */

.icona-per-post img {
  width: 50px;
  border-radius: 50%;
}

.privacyPost h5 {
  font-size: 17px;
}

.privacyPost a {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: gray !important;
  border-radius: 20px;
  padding: 0.4em;
  border: 1px solid gray;
  height: 30px;
  font-size: smaller;
  font-weight: bold;
}

/* ICONE CREA POST */

.btnn {
  width: 120px;
  height: 160px;
  border-radius: 20px !important;
  margin: 5px;
  position: relative;
}

.btnn:hover {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.36) !important;
  background-color: none !important;
}

.roundBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.foto p,
.video p,
.evento p,
.altro p {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 15px;
}

/* SECONDA PARTE SELETTORI ICONE */

.foto {
  background-color: #dbe7e9 !important;
}

.video {
  background-color: #fde2ba !important;
}

.evento {
  background-color: #fadfd8 !important;
}

.altro {
  background-color: #f3f2ef !important;
}

/* TEXTAREA PER CREA POST */
.postArea {
  border: none !important;
  box-shadow: none !important;
}

.postArea::placeholder {
  color: gray !important;
  font-size: 20px !important;
}

/* HOME PAGE COL RIGHT  */
.TitleNew {
  font-size: 17px;
}

.CardnewRight {
  width: 320px;
  margin-top: 1.5em;
}
.Cardrightnew {
  margin-bottom: 0;
}
.fsl {
  font-weight: 600;
  font-size: 13px;
}

.sml {
  font-size: 11px;
}

.IconInformation {
  width: 13px;
  margin: auto;
  margin-top: 0.9em;
}
/* LEFTHOME */
.textSmall {
  font-size: 12px;
}
.Plefthome {
  font-size: 11px;
}
/* FOOTHOME*/
.footer-card {
  font-size: 12px;
  width: 250px;
}
.footer-card a {
  text-decoration: none;
  color: gray;
  padding: 1.2em;
  padding-top: 0;
  padding-bottom: 0.1em;
}
.footerCopirightsec {
  font-size: 12px;
}

.linkedLogo {
  color: rgb(10, 102, 194);
  width: 73px;
  padding-right: 0.2em;
}

.profilePictureHome {
  width: 70px;
  height: 70px;
  position: relative;
  top: -30px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

#picProHome {
  width: 60px;
  height: 60px;
  box-shadow: none;
}
/*MODIFICHE POST CARD*/
.Follow {
  color: rgb(10, 102, 194);
  font-weight: 600;
}

.commentIcon:hover,
.commentIcon:active {
  transform: scale(1.2);
}
/* messaggi */

.position-sticky-bottom {
  bottom: 0;
  right: 0.2em;
  position: fixed !important;
  border: solid 1px rgba(167, 165, 165, 0.894);
}

.dropdown-item,
.dropdown-menu {
  background-color: white !important;
  color: black !important;
}

::placeholder {
  color: black !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu-right.position-sticky-bottom {
  background-color: white !important;
}

/* MOBILE*/

@media (max-width: 576px) {
  .commentIcon {
    flex-basis: 45%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  .iconpost {
    margin: auto;
  }
}

/* MOBILE FOOTER*/
@media (max-width: 576px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-col {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .firstcol,
  .secondcol,
  .thirdcol {
    width: 100%;
    margin-bottom: 1px;
    text-align: center;
  }

  .secondcol {
    order: 1;
  }

  .thirdcol {
    order: 2;
  }

  .fourcol {
    font-size: 12px;
  }
  .QuestinFour {
    font-size: 13px;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }
  .footerCopiright {
    text-align: center;
  }

  .i-footer {
    font-size: 24px;
    margin-right: 10px;
    color: rgb(65, 61, 61);
  }
}

@media (min-width: 576px) and (max-width: 756px) {
  .footer {
    padding-right: 0;
  }
  .footer-col {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .firstcol,
  .secondcol,
  .thirdcol {
    width: 100%;
    margin-bottom: 1px;
    text-align: center;
  }

  .secondcol {
    order: 1;
  }

  .thirdcol {
    order: 2;
  }

  .fourcol {
    font-size: 12px;
  }
  .QuestinFour {
    font-size: 13px;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }
  .footerCopiright {
    text-align: center;
  }

  .i-footer {
    font-size: 24px;
    margin-right: 10px;
    color: rgb(65, 61, 61);
  }
}
.puntatore {
  cursor: pointer;
}
